table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, tr {
    border: 2px solid #666666;
    text-align: left;
    padding: 8px;
}

td.box {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: #d8411c;

}

tr:nth-child(even) {
    background-color: #dddddd;
}
